<div class="comment-cont" style="margin-bottom: 80px;">
    {% for cmt in post.comments %}
    {% if cmt.replies %}
    <div class="wrap-reply">
        <div class="img-cont-reply">
            <img src="{{cmt.user.profile_image.url}}" alt="" class="image">
        </div>

        <div class="txt-wrap-reply">
            <div class="name-cont-reply" style="background-color: beige; border-radius: 15px;">
                <b><p>{{cmt.user.fullname}}</p></b>
                <p>{{cmt.comments}}</p>
            </div>

            <div class="some-reply">
                <span>13 mins</span>
                <a href="#">like</a>
                <a href="/replies/{{cmt.comment_id}}/">reply</a>
            </div>
        </div>
    </div>

    <div class="short-wrapper">
        {% for rep in cmt.replies %}
        <div class="short">
            <div class="hor-line"></div>
            {% if forloop.counter == cmt.rep_count %}
            <div class="line line_{{rep.comment_id}}" style="display: none;"></div>
            {% else %}
            <div class="line"></div>
            {% endif %}

            <div class="img-top">
                <img src="{{rep.user.profile_image.url}}" alt="" class="image">
            </div>

            <div class="reply-txt p-2 mb-2">
                <p><span class="mr-2"><b>{{rep.user.fullname|truncatechars:15}}</b></span>{{rep.comments|truncatechars:13}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>

    {% elif not cmt.reply %}
    <div class="wrapper-cmt">
        <div class="img-cont">
            <img src="{{cmt.user.profile_image.url}}" alt="" class="image">
        </div>
        <div class="txt-wrap">
            <div class="name-cont" style="background-color: beige; border-radius: 15px;">
                <b><p>{{cmt.user.fullname}}</p></b>
                <p>{{cmt.comments}}</p>
            </div>
            <div class="some">
                <span>13 mins</span>
                <a href="#">like</a>
                <a href="/replies/{{cmt.comment_id}}/">reply</a>
            </div>
        </div>
    </div>
    <hr>
    {% endif %}
    {% endfor %}
</div>