<div class="comment-post fixed-bottom bg-light">
    <form action="/replies/{{comment.comment_id}}/" method="post" id="comment">
         {% csrf_token %}
            <textarea name="reply"  rows="1" cols="40" class="mr-2 p-3" placeholder="Write a reply" 
            style="resize: none; overflow: hidden; background-color: rgb(128, 128, 128, .2); border-radius: 20px;" id="msg"></textarea>
            <input type="hidden" name="comment_id" value="{{comment.comment_id}}">
            <input type="hidden", name="profile", value="{{request.user.username}}">
            <button type="submit" class="p-3"><i class="fa fa-paper-plane text-primary" style="font-size: 25px;"></i></button>
    </form>
</div>
