{% extends './base.html' %}
{% load static %}
{% block link %}
 {{block.super}}
 <link rel="stylesheet" href="{% static '/post_detail.css' %}"> 
 {% endblock %}
{% block title %} <title>inbox-{{userprofile.fullname}}</title> {% endblock %}

{% block collapse %}
<nav class="hdr">
    <ul>
        <li>
            <a href="/post_comment/{{comment.post.post_id}}/"  class="h6 text-dark"><i class="fa fa-arrow-left"></i></a>
        </li>
        <li>
            <a href="{% url 'home' %}">replies</a>
        </li>
        <li>
            <a href="{% url 'home' %}"  class="h6 text-dark"><i class="fa fa-search"></i></a>
        </li>
    </ul>
</nav>
{{comment.comment_id | json_script:'comment_id'}}
{% endblock %}

{% block main %}
<div class="wrapper cmt-cont" style="padding-bottom: 80px;" id="comment-box">
    <!-- Fetch through API -->

    {% include 'comment_form_rep.html' %}
</div>
{% endblock %}

{% block footer %}

{% endblock %}

{% block script %}
{{block.super}}
<script src="{% static '/comment_rep_form.js' %}" type="text/javascript"></script>
{% endblock %}