{% extends './base.html' %}
{% load static %}
{% block link %}
 {{block.super}}
 <link rel="stylesheet" href="{% static '/learn.css' %}"> 
 {% endblock %}
{% block title %} <title>Create Post</title> {% endblock %}
{% block collapse %}
<div class="container-fluid bg-dark d-flex justify-content-between align-items-center p-3">
    <p class="h5 text-white">Create Post</p>
    <a href="{% url 'home' %}" class="h5 text-decoration-none text-white">Cancel</a>
</div>
{% endblock %}

{% block main %}
<div class="post-wrapper  p-3 bg-light">
    <div class="d-flex justify-content-end">
        <button  class="sub1 btn btn-transparent text-primary p-2 mb-2">Post</button>
    </div>
    
    <form action="{% url 'post' %}" method="post" class="d-flex flex-column form" enctype="multipart/form-data">
        {% csrf_token %}
        <textarea name="words" id="" cols="30" rows="10" class="form-control p-3 bg-transparent" placeholder="What is on your mind?"></textarea>
        <div class="d-flex flex-column  p-3">
            <div class="show-selected p-2" id="show" style="display: flex; overflow: auto;">
                <!-- to show selected files -->
            </div>
            <div class="inp-wrapper d-flex justify-content-between align-items-center mt-2">
                <label for="post_image" class="btn btn-info p-2 mb-0">Chose file</label>
                <input type="file" class="form-control  mr-2 d-none file_in" name="post_image" style="width: 100px;" id="post_image" multiple>
                <button type="submit" class="sub2 btn btn-primary p-2 mb-0">Post</button>
            </div>
        </div>
    </form> 
</div> 
{% endblock %}

{% block script %} 
{{block.super}}
<script src="{% static '/create_post.js' %}" type="text/javascript"></script>
{% endblock %}