{% extends './base.html' %}
{% load static %}
{% block link %}
 {{block.super}}
 <link rel="stylesheet" href="{% static '/search.css' %}"> 
 {% endblock %}
{% block title %} <title>inbox-{{userprofile.fullname}}</title> {% endblock %}

{% block collapse %}

<div class="container-fluid bg-dark d-flex justify-content-between align-items-center p-3 sticky-top">
    <a href="/#messages" class="h5 text-decoration-none text-white"><i class="fa fa-arrow-left"></i></a>
    <div class="pf" style="width: 40px; height: 40px; border-radius: 50%;">
        <img src="{{userprofile.profile_image.url}}" alt="" style="width: 100%; height: 100%; border-radius: 50%;" class="bg-dark">
    </div>
</div>

 {% endblock %}

{% block main %}
    <div class="msg-cont">
        <div id="msg_div">
        <div class="container w-sm-100  d-flex justify-content-center flex-column align-items-center">
            <div class="pf" style="width: 60px; height: 60px; border-radius: 50%;">
                <img src="{{userprofile.profile_image.url}}" alt="" style="width: 100%; height: 100%; border-radius: 50%;" class="bg-dark">
            </div>
           <div class="d-flex flex-column ml-3 p-0 justify-content-center align-items-center" style="font-size: 14px; font-weight: 500;">
            <p class="text-dark p-0 m-0">{{userprofile.fullname}}</p>
            <p class="text-dark p-0 m-0">{{userprofile.favorite_quote}}</p>
            <p class="text-dark p-0 m-0">This is the beginning of you chat with <small class="text-success">{{userprofile.fullname}}</small></p>
           </div>
        </div>
        </div>
        <div class="send-cont">
                    <button for="lb" class="lb" onclick="document.getElementById('lb').click()">
                        <i class="fa fa-file-image text-primary" aria-hidden="true" style="font-size: 25px;"></i>
                    </button>
                    <input type="file" class="d-none" id="lb" name="pic-message">
                    <textarea name="comment"  rows="1" class="w-100 mr-2 p-2" placeholder="Type a message" 
                    style="resize: none; overflow: hidden;" name="msg" id="msg" onkeypress="showSend();" required></textarea>
                    <!-- <input type="text" placeholder="Type message"  name="msg" id="msg" onkeypress="showSend();"> -->
                    <input type="hidden" name="profile" value="{{userprofile.user.username}}">
        
                    <button type="submit" id="sub" style="border-radius: 50%;"><i class="fa fa-paper-plane text-primary" style="font-size: 25px;"></i></button>
                    {{userprofile.username | json_script:'friend-user'}}
                    {{userprofile.last_name | json_script:'friend-last-name'}}
                    {{user.username | json_script:'auth-user'}}
                    {{user.last_name|json_script:'auth-user-last-name'}}
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %} 
{{block.super}}
<script src="{% static '/inbox.js' %}"></script>
<script>
     function showSend()
   {
        const btn = document.querySelector('#sub')
        document.querySelector(".lb").style.display = "None"
    }
</script>
{% endblock %}
