<div class="rxn p-3">
    <div class="d-flex flex-column">
            {% if post.all_likes and request.user in post.all_likers %}
            <p class="like_count{{post.post_id}}" style="color: green;">You
                <span>{% if post.all_likes|add:'-1' > 0 %} and 
                {{post.all_likes|add:'-1'}} other{{post.all_likes|add:'-1'|pluralize}}{% endif %}</span>
            </p>
            {% else %}
            <p>
                <span class="like_count{{post.post_id}}" style="color:green">{% if post.all_likes > 0 %}{{post.all_likes}} 
                like{{post.all_likes|pluralize}} {% endif %}
                </span>
            </p>
            {% endif %}
    </div>
    
    <div class="d-flex p-2 justify-content-between">
        <div style="position: relative;">
            {% if post.all_likes and request.user in post.all_likers %}
            <a href="#"
                class="text-decoration-none likebutton p-2  i-like{{post.post_id}}"
                id="{{post.post_id}}" style="background-color: beige; border-radius: 5px;">
                <i class="fa fa-thumbs-up text-primary" aria-hidden="true"></i>
                <span class="ml-2 text-dark">{{post.all_likes}}</span>
            </a>
            {% else %}
            <a href="#"
                class="text-decoration-none likebutton p-2 i-like{{post.post_id}}"
                id="{{post.post_id}}" style="background-color: beige; border-radius: 5px;"><i class="fa fa-thumbs-up text-dark" aria-hidden="true"></i>
                <span class="ml-2 text-dark">{{post.all_likes}}</span>
            </a>
            {% endif %}
        </div>

         <div>
            <a href="/post_comment/{{post.post_id}}/"
               class="text-decoration-none p-2" style="background-color: beige; border-radius: 5px;">
               <i class="fa fa-comment text-secondary"></i>
               <span class="ml-2 text-dark">{{post.all_comments}}</span>
            </a>
         </div>
    </div>
</div>