<div class="row row-friend">
    <div class="col-sm-6 mb-3">
        <div class="container m-0  f p-3 bg-light" id="follower-request">
            <p class="h6"  style="font-size: 20px; font-weight: 500;">Friend Request</p>
            <!-- Fetch through Ajax Api -->
        </div>
    </div>
    <div class="col-sm-6">
        <div class="container m-0  f p-3 bg-light" id="request_suggestion">
            <p class="h6" style="font-size: 20px; font-weight: 500;">Users you can follow</p>
            <!-- Fetch through Ajax API -->
        </div>
    </div>
</div>